$main-background: hsl(233, 47%,7%);
$card-background: hsl(244,38%, 16%);
$soft-violet-accent: hsl(277, 64%, 62%);
$main-heading: hsl(0,0%,100%);
$main-paragraph: hsla(0, 0%,100%, 0.75);
$stat-heading: hsla(0, 0%, 100%, 0.6);
$primary-font-family: "Inter", sans-serif;
$primary-font-weight: 400, 700;
$secondary-font-family: "Lexend Deca", sans-serif;
$secondary-font-weight: 400;

@media (max-width:940px){
    body{
        background-color: $main-background;        
    }
    #container{
        max-width: 500px;
        margin: 10px 5px;
    }
    #image-wrapper{
        background-color: $soft-violet-accent;
        margin-left: 25px;
        height: 300px;
        width: auto;
        border-radius: 15px 15px 0 0;
    }
    #image-section{
        background-image: url("./images/image-header-mobile.jpg");
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        mix-blend-mode: multiply;
        opacity: 0.8;
        height: 100%;
        width: auto;
    }
    #text-section{
        background-color: $card-background;
        text-align: center;
        margin-left: 25px;
        padding: 20px; 
        border-radius: 0 0 15px 15px;
        width: auto;

        #top-paragraph{
            color: $main-heading;
            font-family: $primary-font-family;
            font-weight: $primary-font-weight;
            font-size: 24px;
        }
        #highlight{
            color: $soft-violet-accent;
        }
        #second-paragraph{
            color: $main-paragraph;
            font-family: $secondary-font-family;
            font-weight: $secondary-font-weight;
            font-size: 12px;
            line-height: 1.6;
        }
        .stats{
            .stats-analytics{
                color: $main-heading;
                font-family: $primary-font-family;
                font-weight: $primary-font-weight;
                font-size: 1rem;
            }
            .stats-item{
                color: $stat-heading;
                font-family: $secondary-font-family;
                font-weight: $secondary-font-weight;
                font-size: 10px;              
            }
        }
    }
}

@media  screen and (min-width: 940px){
    body{
        background-color: $main-background;
    }

    #container{
        border-radius: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-content: center;
        margin-top: 15vh;
        height: 500px;
    }

    #image-wrapper{
        background-color: $soft-violet-accent;
        height: 100%;
        width: 500px;
        border-radius: 0 15px 15px 0;
    }
    #image-section{
        background-image: url("./images/image-header-desktop.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 500px;
        opacity: 0.8;
        mix-blend-mode: multiply;
    }
    #text-section{
        background-color: $card-background; 
        padding: 70px 50px 70px 50px;
        border-radius: 15px 0 0 15px;
        height: 72%;
        width: 500px;
    }
    #top-paragraph{
        text-align: justify;
        color: $main-heading;
        font-family: $primary-font-family;
        font-weight: $primary-font-weight;
        font-size: 32px;
        letter-spacing: 5px;
        // line-height: 1.6;
    }
    #highlight{
        color: $soft-violet-accent;
    }
    #second-paragraph{
        text-align: justify;
        color: $main-paragraph;
        font-size: 15px;
        font-family: $secondary-font-family;
        font-weight: $secondary-font-weight;
        line-height: 1.9;
    }
    .stats{
        display: flex;
        justify-content:space-between;
        padding-top: 70px;

        .stats-analytics{
            color: $main-heading;
            font-size: 16px;
            font-family: $primary-font-family;
            font-weight: $primary-font-weight;
        }
        .stats-item{
            color: $stat-heading;
            font-family: $secondary-font-family;
            font-weight: $secondary-font-weight;
            font-size: 10px;
            line-height: 0.1;
        }
    }

}
